.message {
    margin: 10px 0;
    justify-content: center;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;


}

.imageAndText img {
    margin: 0;
    height: 48px;
    width: 48px;

}

.text {
    position: relative;
    margin: 0 15px;
    background: #0066CC;
    padding: 7px 10px;
    border-radius: 10px;

}

.text:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 15px solid #0066CC;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    bottom: 0;
    right: -15px;

}

.name {
    font-family:'Montserrat',sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: right;
    color:#fff;
}

.messageText {
    font-family:'Montserrat',sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color:#fff;

}

.time {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    padding: 5px 10px;
}