.radio {
    margin-right: 11px;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    margin-bottom: 20px;
}

.options {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
}
